

.hero{
    background: url(../img/gradient1.webp) center no-repeat, url(/assets/img/logo_gradient.webp) top left no-repeat;
    background-size: cover, 524px 204px;
}


#intro > .background{
    background: url(../img/parralax_frame.svg) right repeat-y fixed;
    /* , url(/assets/img/gradient2.webp) center no-repeat;  */
    background-size: 27.22% auto, contain;
  }

  #tokenomics{
    background: url(../img/parralax_frame.svg) left repeat-y fixed;
    /* , url(/assets/img/gradient3.webp) center no-repeat;  */
    background-size: 27.22% auto, contain;
  }

  #join{
    background: url(../img/join__bg.webp) left 0 no-repeat fixed;
    /* ,url(/assets/img/gradient4.webp) center no-repeat;  */
    background-size: contain;
  
  }

  @media screen and (max-width: 840px){
    #intro > .background{
        background: 0
      }
    
      #tokenomics{
        background: 0
      }
  }