body { 
    overflow-x: hidden; /* The page has a small scroll - fix for IE5. Newer IE versions versions do not have this problem. */
}

.blocks-container .blocks-container__item {
    float: left;
}

.blocks-container--2 .blocks-container__item { 
    width: 50%;
}

.blocks-container--3 .blocks-container__item,
.blocks-container--3-2 .blocks-container__item  { 
    width: 33.33%;
}

.blocks-container--4 .blocks-container__item,
.blocks-container-- .blocks-container__item { 
    width: 25%;
}

.blocks-container--5 .blocks-container__item { 
    width: 20%;
}

.blocks-container--6 .blocks-container__item { 
    width: 16.66%;
}

.blocks-container--inline .blocks-container__item-buffer {
    padding: 0 8px;
}

.blocks-container--fix-width-left .blocks-container__item,
.blocks-container--self-width-left .blocks-container__item {
    float: left;
}

.blocks-container--fix-width-right .blocks-container__item,
.blocks-container--self-width-right .blocks-container__item {
    float: right;
}

.blocks-container--fix-full,
.blocks-container__item--fix {
    position: static;
}

.blocks-container__item--full {
    margin-left: 0;
}